/* style Utama*/
body {
  font: 18px/36px "arial narrow", arial, sans-serif;
  background-color: rgb(241, 6, 155);
}

h1 {
  font-size: 70px;
  margin: 50px 0;
  text-align: center;
  text-shadow: 1px 1px 2px red;
}

.container {
  width: 800px;
  background-color: pink;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 3);
  border-radius: 10px;
}

.gallery li {
  width: 150px;
  height: 150px;
  /* overflow: hidden; */
  border: 5px solid #7a0757;
  float: left;
  margin: 10px;
  position: relative;
}

.gallery li,
.gallery li img,
.gallery li span {
  border-radius: 50%;
}

.gallery li span {
  display: block;
  width: 150px;
  height: 150px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 150px;
  color: rgb(135, 3, 124);
  text-shadow: 1px 1px 1px solid #191717;
  opacity: 0;
  transition: 0.3s;
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.clear {
  clear: both;
}

/* Overlay */
.Overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(234, 3, 3, 0);
  z-index: 9999;
  transition: 0.8s;
  text-align: center;
  padding: 100px 0;
}

.Overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.Overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.Overlay:target img {
  animation: zoomIn 1s;
}

.Overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;
  color: palevioletred;
  text-decoration: none;
  background-color: #7a0757;
  border: 1px solid;
  line-height: 14px;
  padding: 5px;
}

.Overlay:target .close {
  animation: slideDownFade 0.5s 5s forwards;
}
.Overlay:target .next,
.Overlay:target .prev {
  animation: fadeIn 5s 5s forwards;
}

/* navigasi */
.next,
.prev {
  width: 50px;
  height: 52px;
  background-image: url(gallery/img/22.jpg);
  position: absolute;
  text-indent: -9999px;
  top: 40%;
  margin-left: 50px;
}

.prev {
  background-image: url(gallery/img/00.jpg);
  margin-left: -100px;
}
/* animasi */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
